
.Timer {
  display: flex;
  flex-direction: column;

  &__counters,
  &__buttons {
    display: flex;
  }

  &__buttons  {
    justify-content: center;

    margin-top: 24px;
  }

  &__counters {
    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;  

      &-label {
        font-size: 12px;
      }

      &-value {
        font-size: 36px;
      }

      & + * {
        margin-left: 24px;
      }
    }
  }
}
