.WorkTop {
  position: relative;

  display: flex;
  overflow: hidden;

  height: 100vh;

  // transition: all 500ms;
  // transform: translateX(-50vw);
}

.WorkTop-slider {
  position: relative;

  display: flex;

  height: 100vh;

  transition: all 500ms;
  transform: translateX(-50vw);
}

.arrows {
  
  & > div {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    cursor: pointer;

    color: white;
    border-radius: 50%;
    background: blue;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.red {
  height: 100vh;

  background: red;
}
